<!doctype html>
<html>
  <%= partial 'layouts/head' %>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/header' %>

    <%= yield %>

    <%= partial 'layouts/footer' %>
    <%= partial 'layouts/social_share' %>
  </body>
</html>
