---
title: Shoegaze.pw
---

<% content_for :title do %>
  <title><%= album.title %> - Shoegaze.pw</title>
<% end %>

<%= partial 'layouts/metas', locals: { title: "Album - Shoegaze.pw",
                                       description: "#{beautify(band.humanize)} - #{album.title}",
                                       url: "http://shoegaze.pw/album/#{slugify(album.title)}.html",
                                       image: "http://shoegaze.pw/assets/images/home.jpg" } %>

<section id="albums" class="page single album-detail"
         data-spotify-id="<%= album.spotify_id %>"
         data-album-index="<%= album.album_index %>">
  <div class="container">

    <div class="desktop-3 tablet-12 nested columns">

      <div class="sidebar sticky">

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h3 class="border-top"></h3>
            <img src="" alt="" class="album-cover">
          </div>

        </div>

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h4 class="border-top">Band</h4>
            <p>
              <a href="<%= album.band_url %>" title="See <%= beautify(band.humanize) %> on rateyourmusic.com" target="_blank">
                <%= beautify(band.humanize) %>
              </a>
            </p>
          </div>

        </div>

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h4 class="border-top">Album</h4>
            <p>
              <a href="<%= album.album_url %>" title="See <%= beautify(band.humanize) %> on rateyourmusic.com" target="_blank">
                <%= album.title %>
              </a>
            </p>
          </div>

        </div>

        <div class="desktop-3 tablet-12 columns">

          <div class="box-info">
            <h4 class="border-top">Year</h4>
            <p><%= album.year %></p>
          </div>

        </div>

        <div class="clear"></div>

      </div>

    </div>

    <div class="desktop-9 tablet-12 columns main">
      <h4 class="border-top"></h4>

      <div class="artist-detail" data-spotify-id="<%= album.spotify_id %>">
        <img src="" alt="" class="artist-image">
      </div>

      <p>
        <div class="responsive-iframe">
          <iframe src="" frameborder="0" allowtransparency="true" class="playlist"></iframe>
        </div>
      </p>

      <div class="clear"></div>

    </div>

    <div class="clear"></div>

  </div>
</section>
