---
title: Shoegaze.pw
---

<% content_for :title do %>
  <title><%= beautify(decade) %> - Shoegaze.pw</title>
<% end %>

<%= partial 'layouts/metas', locals: { title: "#{decade} - Shoegaze.pw",
                             description: "The story of the shoegaze through the essentials.",
                             url: "http://shoegaze.pw/#{slugify(decade)}",
                             image: "http://shoegaze.pw/assets/images/home.jpg" } %>

<section id="albums">
  <div class="container">
    <div class="desktop-12 columns"><div class="border-top"></div></div>

    <% data.send(decade).albums.each do |key, album| %>
      <a href="/album/<%= slugify(album.title) %>.html" class="permalink album-detail"
         data-spotify-id="<%= album.spotify_id %>"
         data-album-index="<%= album.album_index %>">
        <div class="desktop-3 mobile-half columns">
          <div class="item first-row">
            <h3><%= album.title %></h3>
            <span class="category"><%= key.capitalize %></span>
            <img src="" alt="" class="album-cover"/>
          </div>
        </div>
      </a>
    <% end %>

  </div>
</section>
